@import url("../fonts/stylesheet.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Avenir LT Std";
  height: 100%;
}

/*******************************************
GENERAL CSS DOWN THERE
******************************************** */
.container {
  max-width: 1344px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  color: rgb(14, 10, 10);
}

li {
  list-style-type: none;
}

/*******************************************
UTILITIES
******************************************** */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-lr{
  padding: 0 30px;
}

/*******************************************
HEADER CSS GOES HERE
******************************************** */

.header {
  background-color: #fff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 27px 0 32px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.3);
}

/* .container-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-sizing: content-box;
  max-width: 1344px;
  padding: 0 15px;
} */

.logo{

flex-basis: auto;

}

header .logo img {
width: 100%;
}

header .navbar {
  display: flex;
}

header .navbar .primary-nav {
  display: flex;
  gap: 60px;
  align-items: center;
}

header .nav-btn {
  background: none;
  width: 40px;
  height: 40px;
  border: none;
  display: none;
  cursor: pointer;
}
header .nav-btn__icon {
  position: relative;
}

.nav-btn__icon::before,
.nav-btn__icon::after {
  content: "";
  position: absolute;
}
.nav-btn__icon::before {
  top: -10px;
  transition: all 0.3s;
}

.nav-btn__icon::after {
  top: 10px;
  transition: all 0.3s;
}

.nav-btn__icon,
.nav-btn__icon::before,
.nav-btn__icon::after {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.primary-nav .nav-item {
  position: relative;
}
.primary-nav .nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: black;
  position: absolute;
  top: 50px;
  transform: scale(0);
  transform-origin: right;
  transition: all 0.3s;
}

.primary-nav .nav-item:hover::after {
  transform: scale(1);
}

/*******************************************
HERO SECTION
******************************************** */

.hero {
  /* background-image: url("../images/hero-img.png"); */

  background-image: url("../images/hero-img.png");
  /* min-height: 868px; */
  height: calc(100vh - 110px);
  background-position: center 99px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* display: flex; */
  align-items: center;
  /* margin-top: 110px;
  overflow: hidden; */
}

/* .hero .container {
  flex-grow: 1;
} */

.hero .hero__heading {
  color: #fff;
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  padding-top: 250px;
}

.hero .heading-primary {
  font-size: 120px;
  text-transform: uppercase;
}

/*******************************************
ABOUT SECTION CSS
******************************************** */

.about {
  padding: 55px 0;
  color: #4a4a4a;
}

.heading-secondary {
  font-size: 50px;
}

.heading-secondary::before {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #4a4a4a;
  margin-bottom: 10px;
}



.heading__description {
  font-size: 24.37px;
}

.section__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__description {
  padding-right: 35px;
  max-width: 766px;
}


.section__description p {
  line-height: 1.5;
}

.about .about-img__wrapper {
  display: flex;
  margin: 60px 0;
  gap: 22px;
}

.about .about-img-1 img {
  max-width: 100%;
}

.about .img-smalls {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.img-smalls img {
  width: 100%;
}

.about-goals__wrpper {
  display: flex;
  /* gap: 96px; */
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.about .about-goals__wrpper .about-goal__box {
flex-basis: 365px;
}

.about-goal__box  .heading-tertiary {
  margin-bottom: 38px;
}

.about-goal__box .goal-description {
  font-size: 16px;
}

/*******************************************
OUR SERVCES
******************************************** */

.our-services {
  background-color: black;
  color: white;
  padding: 150px 0;
}

.services-box__wrapper {
  display: flex;
  gap: 32px;
  padding-top: 72px;
}
.services-box__wrapper .services-box {
  background-color: white;
  color: #000;
  padding: 40px 40px 85px 40px;
  border-radius: 6px;
}

.services-box .services-box__img {
  display: flex;
  justify-content: space-between;
}
 
.services-box .counter {
  font-size: 92.7px;
  color: #e5e5e5;
}
.services-box .services-box__heading {
  position: relative;
  font-size: 15px;
  min-height: 42px;
}

.services-box__heading h3 {
  margin-bottom: 16px;
  text-transform: uppercase;
}

.services-box > span {
  display: block;
  width: 48px;
  height: 3px;
  background-color: black;
}

.services-description {
  margin-top: 46px;
}

/*******************************************
SECTION PORTFOLIO
******************************************** */

.portfolio {
  padding: 76px 0 0;
  color: #4a4a4a;
}

.section__description span {
  margin-left: 161px;
  display: block;
  width: 3px;
  height: 48px;
  background-color: #4a4a4a;
}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
}

.portfolio__gallery img {
  width: 25%;
}

.trusted-companies {
  max-width: 100%;
}

/* .slider_btn {
  position: absolute;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  font-size: 55px;
  cursor: pointer;
  top: 50%;
  display: none;

  /* transform: translateY(-50%); */
} */

/* .slider {
  height: 180px;
  max-width: 1282px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
} */

.portfolio .slide {

  max-width: 330px;
  /* transition: transform 1s;
  padding: 0 23px; */
}

.portfolio .slide img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* .btn-left {
  left: 0;
} */

/* .btn-right {
  right: 0%;
} */

/*******************************************
SECTION   INQUIRIES
******************************************** */

.inquiries {
  color: white;
  background-color: black;
  padding: 96px 0;
}

.iquiry_wrapper {
  display: flex;
  justify-content: space-between;
}

.inquiries .section-heading {
  flex: 1;
  align-self: flex-start;
}

.inquiries .section__form {
  flex-basis: 646px;
  /* margin: 0 auto; */
}

.section__form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 646px;
  margin: 0 auto;
  gap: 40px;
}


.section__form form  input {
  background: none;
  border: none;
  border-bottom: 2px solid gray;
  padding: 5px;
  color: white;
  caret-color: #fff;
  font-size: 20px;
  outline: none;
}

form .input-wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.input-wrap input {
  width: 50%;
  gap: 17px;
  /* margin-top: 7px; */
}

form .adress {
  display: flex;
  width: 100%;
}
form .adress input {
  width: 100%;
}


form .city {
  display: flex;
}
 
form .message {
  display: flex;
}

form .message textarea {
  width: 100%;
  height: 92px;
  resize: none;
  border: none;
  border-bottom: 2px solid gray;
  padding: 5px;
  background: none;
  caret-color: #fff;
  font-size: 20px;
  color: white;
  font-family: inherit;
  outline: none;
}

.section__form form .btn {
  background-color: white;
  font-weight: bold;
  padding: 18px 60px;
  color: black;
  align-self: flex-start;
  border-radius: 8px;
  transition: background, color 0.5s;
  cursor: pointer;
}

form .btn:hover {
  background-color: #000;
  color: white;
  box-shadow: 0 0 0 3px white;
}

/* footer */
footer {
  padding-top: 36px;
  padding-bottom: 22px;
  background-color: #1a1a1a;
}

.footer__text {
  color: white;
  text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 1025px) {
  .hero {
    min-height: 668px;
  }
}

@media screen and (max-width: 993px) {
  .header {
    padding: 19px 0 12px 0;
  }
  .hero {
    height: calc(50vh - 110px);
    background-position: center;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background-color: white;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  .about-goal__box {
    padding: 0 15px;
  }

  .primary-nav {
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    gap: 20px;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .primary-nav a {
    font-size: 32px;
  }

  header .nav-btn {
    display: block;
    z-index: 222;
    position: fixed;
    right: 24px;
  }

  .shownav .navbar {
    transform: translateX(0);
  }
 .hero .heading-primary {
    font-size: 90px;
  }

  .section__heading-wrapper {
    flex-direction: column;
    gap: 18px;
  }

  .section-heading {
    text-align: center;
    margin-bottom: 18px;
  }
  .heading-secondary::before {
    margin-left: 27px;
  }
  .section__description {
    text-align: center;
    padding: 0;
  }

  .services-box__wrapper {
    flex-direction: column;
  }

  .portfolio__gallery img {
    width: 50%;
  }



  .inquiries .section-heading {
    align-self: center;
    margin-bottom: 110px;
  }

  .iquiry_wrapper {
    flex-direction: column;
  }

  .input-wrap {
    flex-direction: column;
  }

  .input-wrap input {
    width: 100%;
  }
  .inquiries .section__form {
    flex-basis: auto;
  }
}

@media screen and (max-width: 769px) {
  .hero {
    min-height: 441px;
    background-position: 90% 84px;
  }
  .hero .heading-primary {
    font-size: 54px;
  }
  .heading__description {
    font-size: 16px;
  }

  .about .about-img__wrapper {
    flex-direction: column;
    gap: 8px;
  }

 .about-img__wrapper .img-smalls{
   gap: 8px;
 }
  .about-goals__wrpper {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

 .about .about-goals__wrpper .about-goal__box {
    margin-bottom: 48px;
    flex-basis: auto
  }

  .about-goal__box .heading-tertiary {
    margin-bottom: 18px;
  }

 
}

@media screen and (max-width: 481px) {
  .hero {
    background-position: 90% 69px;
  }
  .hero__heading p {
    font-size: 11px;
  }

  .hero .heading-primary {
    font-size: 42px;
  }

  .heading__description {
    font-size: 12px;
  }

  .logo img {
    max-width: 72%;
  }
  .services-box__heading {
    position: relative;
    font-size: 15px;
  }
  .portfolio__gallery img {
    width: 100%;
  }
.portfolio .slide img {
  max-width: 100%;
}
 
}

/* NAVIGATION BTN TOGGLE */

.shownav .nav-btn__icon {
  background-color: transparent;
}

.shownav .nav-btn__icon::before {
  transform: rotate(45deg);
  top: 0;
}

.shownav .nav-btn__icon::after {
  transform: rotate(-45deg);
  top: 0;
}


.slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #8d0f0f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}